@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
/* Other global styles can be added here */

/* Ticker Animation Styles */
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  animation: ticker 30s linear infinite; /* Slowed down from 15s to 30s */
  width: 300%;
}
